.home-page {
  font-family: Arial, sans-serif;
}

.header-bg {
  background-color: lightblue;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: myFirstFont;
  src: url(.\precious);
}


.cursive {
  font-family: myFirstFont;
  font-style: italic;
  font-size: 6rem;
  padding:30px;
}


.sidebar {
  width: 20%;
  margin-left: 75%;
  margin-top: 3%;
  position:relative;
  height:350px;
  padding:20px;
  border-radius: 20px;
  background-color:white;
}

.posts-container {
  width: 50%;
  top: 20px;
  margin-left:20%;
  position:relative;
  justify-content: space-between;
}
.posts-container p{
  text-align: center;
  font-size:1.1rem;
}

.post-box {
  width: 70%;
  margin-top:-43%;
  margin-left: 40px;
  background-color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 45%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-box img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.btn {
  height:auto;
  background-color:#004aad ;

}
.post-box h3 {
  margin-top: 1rem;
}

.post-box p {
  margin-bottom: 1rem;
}



.blog-post {
  font-family: Arial, sans-serif;
}

.post-header {
  background-color: lightblue;
  height: 30vh;
  display: flex;
  position:relative;
  justify-content: center;
  align-items: center;
  padding:40px 0px 0px 40px;
}

.post-header h1 {
  font-size: 3rem;
  width:70%;
  text-align: center;
  color: #333;
}
.post-header h3{
  margin: 30px;
}

.blog-post h1 {
  padding: 7rem;
}
.blog-post main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.post-content {
  line-height: 1.6;
}

.post-content img {
  max-width: 20%;
  margin: 1rem ;
}

.errormsg {
  padding:5px;
  margin: 20px;
  font-size: 1.2rem;
  color: white;
}